{% extends "base.html" %}


{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/style.css') }}">
{% endblock %}


{% block title %}Szyfry{% endblock %}


{% block content %}

    <h1>Szyfry</h1>
    <a class="button" href="{{ url_for('szyfry.morse' )}}">Morse</a>
    <a class="button" href="{{ url_for('szyfry.cezar' )}}">Cezar</a>
    <a class="button" href="{{ url_for('szyfry.vigenere') }}">Vigenère</a>
    <a class="button" href="{{ url_for('szyfry.sylabowy') }}">Sylabowy</a>
    <a class="button" href="{{ url_for('szyfry.diacritics') }}">Usuń diakrytyki</a>

    {% block form %}{% endblock %}

    {% if message %}
        <div class="card">
            <div id="message_card">{{ message }}</div> 
        </div>
        <input type="submit" class="" onclick="copyMessage()" value="Kopiuj do schowka">
    {% endif %}    
    
    <script>
        function copyMessage() {
            var copyText = document.getElementById("message_card");
            navigator.clipboard.writeText(copyText.textContent);
        }
    </script>
{% endblock %}