{% extends "base.html" %}

{% block title %}Śpiewnik{% endblock %}

{% block content %}
<h1>Śpiewnik</h1>

<p>Po prostu śpiewnik. Lżejszy i szybszy od innych w internecie, a do tego najmojszy. Niedługo powinny pojawić się akordy.</p>

<form method="POST" action="">
        {{ form.query(size=32) }} {{ form.submit() }}
</form>

<h3 style="margin-bottom: 5px;">Tagi:</h3>
{% for tag in tags %}
        <a class="button" href="/spiewnik/tag/{{ tag.id }}">{{ tag.name }}</a>
{% endfor %}


{% endblock %}
