td {
    padding: 0px 10px;
}
button{
    font-size: large;
    border-radius: 5px;
    background-color:  var(--secondary-accent-color);
}
button:hover{
    filter: brightness(120%);
    cursor: pointer;
} 
tr:nth-child(even) td{
    background-color:  var(--secondary-accent-color);
}
#table tr:nth-child(odd) td, #table tr:nth-child(odd) button {
    background-color: var(--secondary-background-color);
    color: var(--text-color);
}

#answers tr button  {
    margin-bottom: 3px;
}

.inset {
    border-style: inset;
    filter: brightness(120%);
}
