.invisible {
    display: none;
}

.visible {
    display: block;
}

input, textarea, select{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: wheat;
    text-decoration: none;
    /* display: block; */
    background-color: black;
    border-radius: 10px;
    transition: all 0.1s ease-in;
    padding: 10px;
    margin: 5px;
    border: 1px;
    border-style: solid;
}


textarea {
    width: calc(100% - 22px);
}

input[type=button]{
    height: 42px;
}

input[type=button]:hover{
    
    font-weight: bold;
    cursor: pointer;
    color: antiquewhite;
}

::placeholder {
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
}

label {
    margin: 5px
}
