.invisible {
    display: none;
}

.visible {
    display: block;
}

input, textarea, select{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: wheat;
    text-decoration: none;
    /* display: inline-block; */
    background-color: black;
    border-radius: 10px;
    transition: all 0.2s ease-in;
    padding: 10px;
}

select, textarea {
    border-style: solid;
    height: fit-content;
}
textarea {
    height: 100%;
}
input{
    border: 3px;
    border-style: dotted;
    border-color: black;
}

input:hover{
    font-weight: bold;
    border-color: wheat;
    cursor: pointer;
    color: antiquewhite;
}

::placeholder {
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
}
