td {
    padding: 0px 10px;
}
button{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    border-radius: 5px;
    color: wheat;
    background-color: dimgray;
}
button:hover{
    filter: brightness(120%);
    cursor: pointer;
} 
tr:nth-child(even) td{
    background-color: dimgray;
}
tr:nth-child(odd) td, tr:nth-child(odd) button {
    background-color: gray;
}
input[type=text] {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: wheat;
    text-decoration: none;
    display: inline-block;
    background-color: black;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: wheat;
    border-radius: 10px;
    transition: all 0.2s ease-in;
}


input[type=button], input[type=submit], label{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: wheat;
    text-decoration: none;
    display: inline-block;
    background-color: black;
    padding: 10px;
    border: 3px;
    border-style: dotted;
    border-color: black;
    border-radius: 10px;
    transition: all 0.2s ease-in;
}

input[type=button]:hover, input[type=submit]:hover, label:hover {
    font-weight: bold;
    border-color: wheat;
    cursor: pointer;
    color: antiquewhite;
}

::placeholder {
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;

}