{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/vts.css">
{% endblock %}

{% block title %}vts{% endblock %}

{% block content %}


<h1 class="text-center">Wybierz swój plik</h1>


    <form id="form" class="input-group" action="#" method="post" enctype="application/x-www-form-urlencoded">
        <label for="file-form">Wybierz plik</label>
        <input style="display: none;" type="file" id="file-form">
        <textarea readonly id="text-field" name="dane" style="display: none;"></textarea>
    </form>


<div class="card">
    <div id="answers" class="card-body">

            {% for x in response %}
                {{ x }} <br>
            {% endfor %}

    </div>    
</div>

<input type="button" onclick="saveAnswers()" value="Zapisz Odpowiedź">






{% endblock %}

{% block javascript %}
    <!-- (A) LOAD FILE SAVER -->
    <!-- https://cdnjs.com/libraries/FileSaver.js -->
    <!-- https://github.com/eligrey/FileSaver.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="/static/scripts/file-submit.js"></script>
{% endblock %}