{% extends "base.html" %}

{% block title %}Tobiasz{% endblock %}

{% block content %}

    <h1>Witajcie ludzie!</h1>
    <p>To jest moja strona</p>
    <p>Na razie w budowie, ale wkrótce pojawią się tu ciekawe rzeczy.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint itaque beatae voluptatibus corrupti magni quod modi, aliquid exercitationem enim quos numquam blanditiis consectetur, pariatur molestias eius ut alias totam? Optio.</p>
    <figure>
        <img src="static/images/don-pedro.jpg" alt="don-pedro">
        <figcaption>
            Don Pedro - szpieg z krainy Deszczowców
        </figcaption>
    </figure>
    <div class="card">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eveniet necessitatibus eaque iusto eos ullam laborum soluta explicabo cumque facere, incidunt, quia voluptatem doloribus quos sapiente est? Amet, blanditiis dolores. <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed pariatur ad vitae magnam hic debitis magni eos quaerat aut beatae a quam ullam, eligendi autem? Dicta animi praesentium explicabo suscipit?
    </div>
    

{% endblock %}