{% extends "base.html" %}

{% block title %}
    {{title}}
{% endblock %}


{% block content %}

    <div>
        <h1 style="margin-bottom: 0;">{{ song["first_title"] }}</h1>
        {% for title in song["secondary_titles"] %}
            <h2>{{ title }}</h2>
        {% endfor %}
        <p style="margin-top: 0; font-style: italic;">{{ song["authors"] }}</p>
    <!-- <p>{{ song["verse_order"] }}</p> -->
        <div style="margin-top: 30px;">
            {% for element in song["verses"] %}
                    <p>
                        {% for line in element %}
                                {{ line }} <br>
                        {% endfor %}
                        
                    </p> 
            {% endfor %}
            
        </div>

    </div>
    

{% endblock %}


