{% extends "base.html" %}

{% block title %}
    {{title}}
{% endblock %}


{% block content %}
    <a class="button" onclick="history.back()">Wstecz</a>
    <a class="button" href="/spiewnik/download/{{title}}" download="{{title}}.xml">Pobierz</a>
    <a class="button" style="user-select: none;" onclick="changeFontSize(1)">A+</a>
    <a class="button" style="user-select: none;" onclick="changeFontSize(-1)">A-</a>

    <div>
        <h1 style="margin-bottom: 0;">{{ song["first_title"] }}</h1>
        {% for title in song["secondary_titles"] %}
            <h2>{{ title }}</h2>
        {% endfor %}
        <p style="margin-top: 0; font-style: italic;">{{ song["authors"] }}</p>
    <!-- <p>{{ song["verse_order"] }}</p> -->
        <div id="songtext" class="songtext" style="font-size: 18px;">
            {% for element in song["verses"] %}
                    <p class="{{element['class']}}">
                        {% for line in element['text'] %}
                                {{ line }} <br>
                        {% endfor %}
                        
                    </p> 
            {% endfor %}
            
        </div>
        
    </div>
    

{% endblock %}

{% block javascript %}
<script src="/static/scripts/spiewnik.js"></script>
{% endblock %}


