{% extends "base.html" %}

{% block title %}
    {{title}}
{% endblock %}


{% block content %}

    <h1>{{ song["first_title"] }}</h1>
    {% for title in song["secondary_titles"] %}
            <h2>{{ title }}</h2>
    {% endfor %}
    <p>{{ song["authors"] }}</p>
    <!-- <p>{{ song["verse_order"] }}</p> -->
    <div>
        {% for element in song["verses"] %}
                <p>
                    {% for line in element %}
                            {{ line }} <br>
                    {% endfor %}
                    
                </p> 
        {% endfor %}
        
    </div>
    

{% endblock %}


