{% extends "base.html" %}

{% block title %}Śpiewnik{% endblock %}

{% block content %}
<h1>Śpiewnik</h1>

<p>Po prostu śpiewnik. Lżejszy i szybszy od innych w internecie, a do tego najmojszy. Niedługo powinny pojawić się akordy.</p>
<input type="text" onchange="searchSong(this.value)" placeholder="Tytuł">
<a id="submit" href="#" class="button">Wyszukaj</a>
<p>Piosenki są przechowywane w formacie <a href="https://docs.openlyrics.org/en/latest/">XML OpenLyrics</a>, używanym między innymi przez <a href="https://openlp.org/">OpenLP</a>. Chętnie przygarnę więcej piosenek marzących o znalezieniu się w Internecie.</p>
<p>Jako baza danych służy mi <a href="https://basex.org/">BaseX</a>. <a href="https://pypi.org/project/BaseXClient/">Klient dla Pythona</a> działa przyjemnie, chociaż dokumentacja mogłby być ciut łatwiej dostępna.</p>




{% endblock %}


{% block javascript %}
<script src="/static/scripts/spiewnik.js"></script>
{% endblock %}
