{% extends "base.html" %}

{% block title %}vts{% endblock %}

{% block content %}
    <h1>VTS</h1>

    <h2>Co to właściwie jest?</h2>

    <p>Wyobraźcie sobie taką sytuację - mamy grupę ludzi, z których każdy należy do kilku podgrup (powiedzmy, kół zainteresowań). Koła chcą się spotykać, ale czasu jest mało, więc niektóre spotkania muszą odbywać się jednocześnie. <b>Jak ustawić harmonogram, żeby naraz spotkało się ich jak najwięcej i nie było sytuacji, że ktoś musi wybierać pomiędzy dwoma ze swoich zainteresowań?</b></p>
    <p>VTS służy właśnie do tego. W edytorze można stworzyć koła i dodać do nich ludzi, a następnie zapisać te dane w specjalnym formacie, który potem można przesłać do serwera, który go przeanalizuje i zwróci rozwiązanie. W każdej linijce rozwiązania znajdują się koła zainteresowań, z których żadne dwa nie mają wspólnego członka i nie można "dopchać" do nich żadnego kolejnego koła.</p>

    <h2>Masz gotowy plik, czy chcesz skorzystać z edytora?</h2>
    <header class="navbar">
        <a href="/vts/editor">Chcę skorzystać z edytora</a>
        <a href="/vts/file-submit">Mam gotowy plik</a>

    </header>




{% endblock %}