{% extends "gaba.html" %}
{% block content %}
    <div style="text-align: center;">
        <h1>{{ message }}</h1>
        <p>
            Twój strzał: {{ guess_date }} <br>
        </p>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{total}}" aria-valuemin="0" aria-valuemax="5000" {{ bar_style }}>{{total}}</div>
    </div>
    <br>
    <div style="text-align: right;">
        {% if over %}
        <a href="{{ url_for('gabaguessr.game_over') }}"><button>Zakończ</button></a>
        {% else %}
        <a href="{{ url_for('gabaguessr.game') }}"><button>Kolejne</button></a>
         {% endif %}
    </div>
{% endblock %}